@charset "UTF-8";
html {
  overflow: auto;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

$main-clr: #E37AB0;
$sub-clr: #FFF7FB;
$accent-clr: #6F99E3;

// -------------- header ---------------

.header {
  width: 100%;
  &-wrap{
    &__logo {
      width: 150px;
      margin: 16px auto 16.3px 19px;
    }
    &__nav,
    &__button-pink, &__button-blue {
      display: none;
    }
  }
}
@media screen and (min-width:769px){
.flex__item {
  display: flex;
}
.header {
  width: 100vw;
  &-wrap {
    width: 100vw;
    align-items: center;
    &__logo {
      margin-left: 13%;
    }
    &__nav {
      display: block;
      &-list {
        width: 100%;
        & a {
          color: #000;
          margin-left: 13px;
          &:hover {
            border-bottom: 3px solid $accent-clr;
          }
        }
      }
    }
    &__button {
      display: block;
      &-pink {
        display: block;
        background: $main-clr;
        border-radius: 30px;
        padding: 15px 27px;
        margin-left: 3%;
        &:hover {
            background: darken($main-clr, 10%);
        }
        & a {
            font-size: 14px;
            color: #fff;
        }
      }
      &-blue {
        display: block;
        margin-left: 2%;
        margin-right: 3%;
        background: $accent-clr;
        border-radius: 30px;
        padding: 15px 27px;
        &:hover {
          background: darken($accent-clr, 10%);
        }
        & a {
            color: #fff;
            font-size: 14px;
        }
      }
    }
  }
}
}

// -------------- firstview ---------------

.firstview {
  width: 100%;

  &-wrap {
    position: relative;
    width: 100%;
    &__txt {
      position: absolute;
      z-index: 1;
      width: 100%;

      &-ttl {
        font-size: 2em;
        font-weight: 700;
        margin-top: 40px;
        width: 320px;
        margin: 40px auto 25px auto;
      }
      &-content {
        font-size: 1em;
        font-weight: 400;
        width: 80%;
        margin: 0 auto;
      }
      &-img-pc {
        display: none;
      }
    }
    &__img-sp {
      width: 80%;
      top:0;
      margin: 0 auto;
    }
    &__img-fv {
        position: absolute;
        width: 80%;
        top: 200px;
        left: 10%;
    }
    &__txt-dl-btn {
      background-color: $main-clr;
      line-height: 60px;
      border-radius: 30px;
      display: block;
      text-align: center;
      width: 80%;
      margin: 90% auto 0 auto;
      &:hover {
        background-color: darken($main-clr,10%);
        cursor: pointer;
      }
      & a{
        color: #fff;
      }
    }
  }
}
@media screen and (min-width:769px){
  .firstview {
    width: 100%;
    &-wrap {
      display: flex;
      width: 100%;
      position: relative;
      &__txt {
        position: absolute;
        top: 15%;
        left: 0;
        z-index: 1;
        margin-left: 13%;
        width: 100%;
        &-ttl {
          margin-left: 0;
          font-size: 3vw;
          width: 50%;
        }
        &-content {
          margin-left: 0;
          width: 30%;
        }
        &-dl-btn {
          margin: 3% 0 0 0;
          width: 25%;
        }
        &-img-pc {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        }
      }
      &__img-sp {
          display: none;
      }
      &__img-fv {
        width: 30%;
        margin: 0 0 0 auto;
        position: absolute;
        top: 0;
        right: 15%;
      }
    }
  }
}


// -------------- about ---------------

.about-wrap {
  width: 100%;
  background-color: $sub-clr;
  padding-bottom: 70px;
  &__ttl {
    font-size: 16px;
    font-weight: 700;
    width: 320px;
    margin: 0 auto;
    padding: 70px 10px 25px 10px;
  }
  &__img {
    width: 67%;
    margin: 0 auto;
  }
}
@media screen and (min-width:769px){
  .about-wrap {
    position:relative;
    z-index: 1;
    top: -150px;
    height: 600px;
    &__ttl {
      font-size: 2vw;;
      width: 40%;
      margin-right: 50px;
      padding: 0;
      position: absolute;
      top:250px;
      right: 20px;
    }
    &__img {
      width: 50%;
      position: absolute;
      top: 70px;
      left: -10px;
    }
  }
}

// -------------- trouble ---------------

.trouble {
  padding: 70px 20px;
  &__ttl {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  &-wrap {
    &__item {
      display: flex;
      align-items: center;
      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
    &__img img {
      width: 100%;
    }
    &__txt {
      font-weight: 700;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width:769px){
  .trouble {
    &__ttl {
      font-size: 38px;
      padding-bottom: 80px;
    }
    &-wrap {
      display: flex;
      justify-content: center;
      &__item {
        display: block;
        font-size: 22px;
        margin-left: 30px;
        &:nth-child(2) {
        flex-direction: row;
        }
        &:first-child {
          margin-top: 22px;
        }
      }
      &__txt {
        padding-top: 20px;
        width: 70%;
      }
    }
  }
}

// -------------- solution ---------------

.solution {
  padding: 70px 19px;
  background: $sub-clr;

  &__ttl {
    text-align: center;
    font-size: 26px;
  }
  &-wrap__item {
    margin-top: 40px;
    &-ttl{
      &-num {
        font-size: 26px;
        font-weight: 700;
        color: $main-clr;
      }
      &-txt {
        font-size: 22px;
      }
      &-content {
        margin: 25px 0;
      }
    }
    &-img:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
@media screen and (min-width:769px){
  .solution {
    &__ttl {
      font-size: 38px;
      font-weight: 700;
    }
    &-wrap__item {
      position: relative;
      &-ttl {
        width: 30%;
        margin-left: 20%;
        &-w {
          padding-top: 20%;
        }
        &-num {
          font-size: 40px;
          padding-top: 10px;
        }
        &-txt {
          width: 80%;
          font-size: 32px;
          font-weight: 700;
        }
        &-content {
          width: 89%;
        }
      }
      &-img {
        width: 30%;
      }
    }
  }
  .mix__item {
    flex-direction: row-reverse;
    width: 100%;
    &-ttl {
      margin: 0 19%;
    }
    &-img {
      margin-left: 15%;
      margin: 0 -16%;
    }
  }
}
// -------------- feature ---------------

.feature {
  padding: 70px 19px;
  &__ttl {
    font-size: 26px;
    margin-bottom: 40px;
    text-align: center;
  }
  &-wrap{
    &__flexitem-sp {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__smitem {
      border:1px solid $sub-clr;
      box-shadow: 0px 0px 6px $main-clr;
      border-radius: 15px;
      padding: 20px;
      margin: 10px;
      & a {
        color: #000;
      }
      & img {
        width: 30vw;
        margin-bottom: 5px;
      }
    }
    &__icon-txt {
      text-align: center;
    }
  }
}
@media screen and (min-width:769px){
  .feature {
    &__ttl {
      font-size: 38px;
      font-weight: 700;
    }
    &-wrap {
      &__item {
        align-items: center;
        justify-content: center;
      }
      &__smitem {
        width: 30%;
        & a {
          color: #000;
        }
        & img {
          width: 100%;
        }
        &:hover {
          background: lighten($main-clr,30%);
        }
      }
    }
  }
}



// -------------- cta-section ---------------

.cta-sec {
  background: $main-clr;
  padding: 70px 19px;
  &__ttl {
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  &__btn {
    margin: 0 auto;
  }
  &__btn-new {
    display: inline-block;
    background: $accent-clr;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    margin: 40px auto 25px auto;
    width: 100%;
    color: #fff;
    &:hover {
      background-color: darken($accent-clr, 10%);
      cursor: pointer;
    }
  }
  &__btn-dl {
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    width: 100%;
    margin: 0 auto;
    color: $main-clr;
    &:hover {
      background: lighten($main-clr,5%);
      cursor: pointer;
      color: #fff;
    }
    & a {
      color: $main-clr;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width:769px){
  .cta-sec {
    &__ttl {
      font-size: 32px;
      font-weight: 700;
    }
    &__btn {
      width: 65%;
      margin: 0 auto;
      &-dl {
        margin: 40px auto 25px 10px;
      }
    }
  }
}

// -------------- case ---------------

.case {
  &__ttl {
    font-size: 26px;
    text-align: center;
    margin: 70px auto 40px auto;
  }
  &-wrap {
    display: flex;
    white-space: nowrap;
    width: 200vw;
    &__item {
      box-shadow: 0 0 6px #DDDDDD;
      border-radius: 15px;
      width: 60%;
      display: inline-block;
      margin-right: 7px;
      &-img img {
        border-radius: 15px;
        z-index: 0;
      }
      &-content {
        padding-bottom: 29px;
        position: relative;
        overflow-wrap: break-word;
      }
      &-cat {
        margin: -58px auto 0 20px;
        border:1px solid $main-clr;
        width: 40px;
        text-align: center;
        justify-content: center;
        padding: 6px;
        position: absolute;
        z-index: 1;
        background: #fff;
      }
      &-company {
        margin: 40px auto 20px 20px;
      }
      &-headline {
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
        width: 80%;
        overflow-wrap: break-word;
        white-space: normal;
      }
    }
  }
}

@media screen and (min-width:769px){
  .case {
    &__ttl {
      font-size: 38px;
      text-align: center;
      margin: 70px auto 40px auto;
    }
    &-wrap {
      width: 100vw;
      &__item {
      margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// -------------- price ---------------

.price {
  padding: 70px 19px;
  text-align: center;

  &__ttl {
    font-size: 26px;
    margin-bottom: 40px;
  }
  &-wrap__item {
    box-shadow: 0 0 6px #DEDEDE;
    border-radius: 15px;
    margin-bottom: 20px;

    &-plan {

      &-blue {
        background-color: $accent-clr;
        color: #fff;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 10px;
      }
      &-pink {
        background-color: $main-clr;
        color: #fff;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 10px;
      }
      &-name {
        font-size: 16px;
      }
      &-price {
        font-size: 38px;
        font-weight: 700;
        & span {
          font-size: 22px;
        }
      }
    }
    &-container {
      padding: 5% 10% 5% 10%;
    }
    &-content {
        color: #535353;

        & li{
          border-bottom: 1px solid #DEDEDE;
          line-height: 30px;
        }
    }
    &-btn {
      background: #E8E8E8;
      border-radius: 30px;
      padding: 20px;
      margin-top: 25px;
      &:hover {
        background: #d1d0d0;
        cursor: pointer;
      }

      & a {
        color:#000;
      }
    }
  }
}

@media screen and (min-width:769px){
  .price {
    &__ttl {
      font-size: 38px;
      font-weight: 700;
    }
    &-wrap {
      width: 80%;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      &__item {
        width: 100%;
      }
    }
  }
}
// -------------- qa ---------------

.qa {
  padding: 70px 19px;

  &__ttl {
    font-size: 26px;
    text-align: center;
    margin-bottom: 40px;
  }
  &-list__item {

    &-question {
      border: 1px solid $main-clr;
      border-radius: 15px;
      color: $main-clr;
      font-weight: 700;
      padding: 30px;
      position: relative;

      &:before {
        position: absolute;
        content:"Q";
        top: 50%;
        left: 10px;
        transform: translate(0,-50%);
      }
      &:after {
        content: '';
        width: 6px;
        height: 6px;
        border: 0px;
        border-top: solid 1px #000;
        border-right: solid 1px #000;
        transform: rotate(135deg);
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -4px;
      }
    }
    &-answer {
      padding: 35px;
      position: relative;
      &:before {
        position: absolute;
        content:"A";
        color: $accent-clr;
        top: 45px;
        left: 15px;
        transform: translate(0,-50%);
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width:769px){
  .qa {
    &__ttl {
      font-size: 38px;
      font-weight: 700;
    }
    &-list {
      &__item {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}

// -------------- footer ---------------
.footer {
  background: $sub-clr;
  padding-bottom: 10px;

  &-wrap {
    padding-top: 70px;
    &__logo {
      width: 150px;
      margin-left: 19px;
    }
    &__nav {
      margin-left: 60px;
      margin-bottom: 100px;
      &-center{
        width: 100%;
        & a {
        line-height: 40px;
        color: #000;
        }
      }
      &-right {
        width: 100%;
        & a {
          line-height: 40px;
          color: #000;
        }
      }
    }
  }
  .footer-copyright {
    text-align: center;
  }
}

@media screen and (min-width:769px){
  .footer {
    &-wrap {
      &__sub {
        display: flex;
        margin: 0 auto;
        width: 60%;
      }
      &__logo {
      margin-left: 0;
      }
      &__nav {
        display: flex;
        width: 100%;
        &-center {
        margin-left: 25%;
        margin-right: 20%;
        }
      }
    }
  }
}