img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
}

.header-wrap__logo {
  width: 150px;
  margin: 16px auto 16.3px 19px;
}

.header-wrap__nav, .header-wrap__button {
  display: none;
}

.firstview {
  width: 100%;
}

.firstview-wrap {
  position: relative;
  width: 100%;
}

.firstview-wrap__txt {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.firstview-wrap__txt-ttl {
  font-size: 2em;
  font-weight: 700;
  margin-top: 40px;
  width: 320px;
  margin: 40px auto 25px auto;
}

.firstview-wrap__txt-content {
  font-size: 1em;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}

.firstview-wrap__txt-img-pc {
  display: none;
}

.firstview-wrap__img-sp {
  width: 80%;
  top: 0;
  margin: 0 auto;
}

.firstview-wrap__img-fv {
  position: absolute;
  width: 80%;
  top: 200px;
  left: 10%;
}

.firstview-wrap__txt-dl-btn {
  background-color: #E37AB0;
  line-height: 60px;
  border-radius: 30px;
  display: block;
  text-align: center;
  width: 80%;
  margin: 90% auto 0 auto;
}

.firstview-wrap__txt-dl-btn a {
  color: #fff;
}

.about-wrap {
  width: 100%;
  background-color: #FFF7FB;
  padding-bottom: 70px;
}

.about-wrap__ttl {
  font-size: 16px;
  font-weight: 700;
  width: 320px;
  margin: 0 auto;
  padding: 70px 10px 25px 10px;
}

.about-wrap__img {
  width: 67%;
  margin: 0 auto;
}

.trouble {
  padding: 70px 20px;
}

.trouble__ttl {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.trouble-wrap__item {
  display: flex;
  align-items: center;
}

.trouble-wrap__item:nth-child(2) {
  flex-direction: row-reverse;
}

.trouble-wrap__img img {
  width: 100%;
}

.trouble-wrap__txt {
  font-weight: 700;
  margin: 0 auto;
}

.solution {
  padding: 70px 19px;
  background: #FFF7FB;
}

.solution__ttl {
  text-align: center;
  font-size: 26px;
}

.solution-wrap__item {
  margin-top: 40px;
}

.solution-wrap__item-ttl-num {
  font-size: 26px;
  font-weight: 700;
  color: #E37AB0;
}

.solution-wrap__item-ttl-txt {
  font-size: 22px;
}

.solution-wrap__item-ttl-content {
  margin: 25px 0;
}

.solution-wrap__item-img:not(:last-child) {
  margin-bottom: 40px;
}

.feature {
  padding: 70px 19px;
}

.feature__ttl {
  font-size: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.feature-wrap__flexitem-sp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-wrap__smitem {
  border: 1px solid #FFF7FB;
  box-shadow: 0px 0px 6px #E37AB0;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

.feature-wrap__smitem img {
  width: 30vw;
  margin-bottom: 5px;
}

.feature-wrap__icon-txt {
  text-align: center;
}

.cta-sec {
  background: #E37AB0;
  padding: 70px 19px;
}

.cta-sec__ttl {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.cta-sec__btn-new {
  background: #6F99E3;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  margin: 40px auto 25px auto;
  width: 90%;
}

.cta-sec__btn-new a {
  color: #fff;
}

.cta-sec__btn-dl {
  background: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  width: 90%;
  margin: 0 auto;
}

.cta-sec__btn-dl a {
  color: #E37AB0;
}

.case__ttl {
  font-size: 26px;
  text-align: center;
  margin: 70px auto 40px auto;
}

.case-wrap {
  display: flex;
}

.case-wrap__item {
  box-shadow: 0 0 6px #DDDDDD;
  border-radius: 15px;
  width: 80%;
}

.case-wrap__item-img img {
  border-radius: 15px;
  z-index: 0;
}

.case-wrap__item-content {
  padding-bottom: 29px;
  position: relative;
}

.case-wrap__item-cat {
  margin: -58px auto 0 20px;
  border: 1px solid #E37AB0;
  width: 15%;
  text-align: center;
  justify-content: center;
  padding: 8px;
  position: absolute;
  z-index: 1;
  background: #fff;
}

.case-wrap__item-company {
  margin: 40px auto 20px 20px;
}

.case-wrap__item-headline {
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  width: 80%;
}

.price {
  padding: 70px 19px;
  text-align: center;
}

.price__ttl {
  font-size: 26px;
  margin-bottom: 40px;
}

.price-wrap__item {
  box-shadow: 0 0 6px #DEDEDE;
  border-radius: 15px;
  margin-bottom: 20px;
}

.price-wrap__item-plan-blue {
  background-color: #6F99E3;
  color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 10px;
}

.price-wrap__item-plan-pink {
  background-color: #E37AB0;
  color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 10px;
}

.price-wrap__item-plan-name {
  font-size: 16px;
}

.price-wrap__item-plan-price {
  font-size: 38px;
  font-weight: 700;
}

.price-wrap__item-plan-price span {
  font-size: 22px;
}

.price-wrap__item-container {
  padding: 5% 10% 5% 10%;
}

.price-wrap__item-content {
  color: #535353;
}

.price-wrap__item-content li {
  border-bottom: 1px solid #DEDEDE;
  line-height: 30px;
}

.price-wrap__item-btn {
  background: #E8E8E8;
  border-radius: 30px;
  padding: 20px;
  margin-top: 25px;
}

.price-wrap__item-btn a {
  color: #000;
}

.qa {
  padding: 70px 19px;
}

.qa__ttl {
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.qa-list__item-question {
  border: 1px solid #E37AB0;
  border-radius: 15px;
  color: #E37AB0;
  font-weight: 700;
  padding: 30px;
  position: relative;
}

.qa-list__item-question:before {
  position: absolute;
  content: "Q";
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.qa-list__item-question:after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -4px;
}

.qa-list__item-answer {
  padding: 35px;
  position: relative;
}

.qa-list__item-answer:before {
  position: absolute;
  content: "A";
  color: #6F99E3;
  top: 25%;
  left: 10px;
  transform: translate(0, -50%);
  font-weight: 700;
}

.footer {
  background: #FFF7FB;
  padding-bottom: 10px;
}

.footer-wrap {
  padding-top: 70px;
}

.footer-wrap__logo {
  width: 150px;
  margin-left: 19px;
}

.footer-wrap__nav {
  padding: 10px 0 70px 50px;
}

.footer-wrap__nav li a {
  line-height: 40px;
  color: #000;
}

.footer .footer-copyright {
  text-align: center;
}
